<div class="page-title">
    <h2><i class="icon-desktop color"></i> New Designation <small>Subtext for header</small></h2>
    <hr />
</div>
<!-- Page title -->

<div class="row">
    <div class="col-md-12">
        <div class="awidget">
            <div class="awidget-head">
                <h3>New Position</h3>
            </div>
            <div class="awidget-body">

                <!-- Profile form -->

                <div class="form profile">
                    <!-- Edit profile form (not working)-->
                    <form class="form-horizontal">
                        <!-- Position name -->
                        <div class="form-group">
                            <label class="control-label col-lg-2" for="name1">Name</label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" id="name1">
                            </div>
                        </div>
                        <!-- Position description -->
                        <div class="form-group">
                            <label class="control-label col-lg-2" for="description">Description</label>
                            <div class="col-lg-6">
                                <textarea class="form-control" id="description"></textarea>
                            </div>
                        </div>


                        <!-- Buttons -->
                        <div class="form-group">
                            <!-- Buttons -->
                            <div class="col-lg-6 col-lg-offset-2">
                                <button type="submit" class="btn btn-info">Add</button>
                                <button type="reset" class="btn btn-default">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>


    </div>
</div>